<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>br.com.sisjupiter.bo.Login</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>HomeBO</servlet-name>
    <servlet-class>br.com.sisjupiter.bo.HomeBO</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DiagnosticoBO</servlet-name>
    <servlet-class>br.com.sisjupiter.bo.DiagnosticoBO</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AndEquipeBO</servlet-name>
    <servlet-class>br.com.andsisjupiter.bo.AndEquipeBO</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AndComunidadeBO</servlet-name>
    <servlet-class>br.com.andsisjupiter.bo.AndComunidadeBO</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UsuarioBO</servlet-name>
    <servlet-class>br.com.sisjupiter.bo.UsuarioBO</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AndDiagnosticoBO</servlet-name>
    <servlet-class>br.com.andsisjupiter.bo.AndDiagnosticoBO</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AndTempoGpsBO</servlet-name>
    <servlet-class>br.com.andsisjupiter.bo.AndTempoGpsBO</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AndFotoDiagBO</servlet-name>
    <servlet-class>br.com.andsisjupiter.bo.AndFotoDiagBO</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AndDiagnosticoEscolParenBO</servlet-name>
    <servlet-class>br.com.andsisjupiter.bo.AndDiagnosticoEscolParenBO</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AndDiagnosticoContatoBO</servlet-name>
    <servlet-class>br.com.andsisjupiter.bo.AndDiagnosticoContatoBO</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RelComunidadeBO</servlet-name>
    <servlet-class>br.com.sisjupiter.bo.RelComunidadeBO</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RelEquipeBO</servlet-name>
    <servlet-class>br.com.sisjupiter.bo.RelEquipeBO</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Serializacao</servlet-name>
    <servlet-class>br.com.sisjupiter.auxiliar.Serializacao</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HomeBO</servlet-name>
    <url-pattern>/HomeBO</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DiagnosticoBO</servlet-name>
    <url-pattern>/DiagnosticoBO</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AndEquipeBO</servlet-name>
    <url-pattern>/andequipebo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AndComunidadeBO</servlet-name>
    <url-pattern>/andcomunidadebo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UsuarioBO</servlet-name>
    <url-pattern>/UsuarioBO</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AndDiagnosticoBO</servlet-name>
    <url-pattern>/anddiagnosticobo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AndTempoGpsBO</servlet-name>
    <url-pattern>/andtempogpsbo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AndFotoDiagBO</servlet-name>
    <url-pattern>/andfotodiagbo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AndDiagnosticoEscolParenBO</servlet-name>
    <url-pattern>/anddiagnosticoescolparenbo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AndDiagnosticoContatoBO</servlet-name>
    <url-pattern>/anddiagnosticocontatobo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RelComunidadeBO</servlet-name>
    <url-pattern>/RelComunidadeBO</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RelEquipeBO</servlet-name>
    <url-pattern>/RelEquipeBO</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Serializacao</servlet-name>
    <url-pattern>/Serializacao</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
</web-app>